<footer>
  <div class="container-fluid" style="background: #001321;">
   <div class="col-md-12">
             <div class="row">
                 <div class="col-md-4 col-xs-12 col-sm-12 text-center"  style="">
                     <img src="assets/img/logo1.png"  height="200">
                 </div>
                 <div class="col-md-2 col-sm-3 list1">
                     <h4>ABOUT</h4>
                     <ul>
                         <li><a href="aboutcoincode.html" target="_blank">About Us</a></li>
                         <li><a href="icoservice.html" target="_blank">ICO Service</a></li>
                         <li><a href="fees.html" target="_blank">Fees</a></li>
                         <li><a href="#" target="_blank">App</a></li>
                          </ul>
                 </div>
                 <div class="col-md-2 col-sm-3 list1">
                     <h4>SUPPORT</h4>
                     <ul>
                         <li><a href="" target="_blank">Contact support</a></li>
                        <li><a href="#" target="_blank">Guide</a></li>
                         <li><a href="#" target="_blank">Annoucement</a></li>

                     </ul>
                 </div>
                 <div class="col-md-2 col-sm-3 list1">
                     <h4>SERVICES</h4>
                     <ul>
                         <li><a href="#" target="_blank">API Documentation</a></li>
                         <li><a href="termsofuse.html" target="_blank">Terms Of Use</a></li>
                         <li><a href="privacypolicy.html" target="_blank">Privacy Policy</a></li>
                         <li><a href="KYCAMLpolicy.html" target="_blank">KYC/AML Policy </a></li>
                         <li><a href="riskwarning.html" target="_blank">Risk Warning</a></li>

                     </ul>
                 </div>
                 <div class="col-md-2 col-sm-3 list1" >
                     <h4 style="">LANGUAGE</h4>
                        <div class="custom-select" style="max-width: 150px;">
                                         <select>
                                             <option value="0">English</option>
                                             <option value="1">English</option>
                                             <option value="2">English</option>
                                             <option value="3">English</option>
                                             <option value="4">English</option>
                                        </select>
                           </div>
                 </div>
             </div>
         </div>
     </div>

 <!------------BOTTOM FOOTER ---------------->
 <div class="container-fluid" style="background: #002846;">
     
     <div class="row text-center" style="padding: 10px;">
         <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-12 "  >
             <div class="row" style="max-width: 255px;margin: 0px auto;">
             <div id="hexagon"><a href="#" target="_blank" class="fa fa-facebook"></a></div>
             <div id="hexagon"><a href="#" target="_blank" class="fa fa-twitter"></a></div>
             <div id="hexagon"><a href="#" target="_blank" class="fa fa-linkedin"></a></div>
             <div id="hexagon"><a href="#" target="_blank" class="fa fa-instagram"></a></div>
             <div id="hexagon"><a href="#" target="_blank"  class="fa fa-paper-plane"></a></div>
             <div id="hexagon"><a href="#" target="_blank" class="fa fa-youtube"></a></div>
             </div>
         </div>
     </div>
     
     <div class="row">
     <p>&copy;&nbsp;2018 COINCODE EXCHANGE &nbsp; |&nbsp; ALL RIGHT RESERVED</p>
     </div>
 </div>


</footer>         
<!------------------ JQUERY FOR COLOR RED GREEN TEXT FOR THIS PAGE----------------->
 