<div class="night">
    <!-------------------------------- Nav bar ------------------------------------------------->
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
          
        <a class="navbar-brand" href="index.html"><img src="assets/img/LOGOnew.png" height="50" width="160" ></a>
          
      <a href="#" class="hidden-md hidden-lg"><span style="font-size:22px;cursor:pointer;color:white;position: absolute;right: 80px;top:10px;" class="menu-button" id="menu-button1"><i class="fa fa-bars" aria-hidden="true"></i></span></a>
          
      </div>
        
      <div class="collapse navbar-collapse" id="myNavbar"  >
          
        <ul class="nav navbar-nav text-center hidenav " style="padding: 0px 20px;color: white;">
                <li><a href="#"><span style="color: #00F1C9;">Available Balance:</span><br><span
                    style="border-bottom:1px solid #00F1C9;">
                    2.500 BTC</span><br>55.22 USDT</a></li>

        <li><a href="#"><span style="color: #00F1C9;">Asset Value:</span><br><span
                    style="border-bottom:1px solid #00F1C9;">
                    2.500 BTC</span><br>55.22 USDT</a></li>

        <li><a href="#"><span style="color: #00F1C9;">Available Margin:</span><br><span
                    style="border-bottom:1px solid #00F1C9;">
                    55.22 BTC </span><br>500000 USDT</a></li>

        <li><a href="#"><span style="color: #00F1C9;">Trading Balance:</span><br><span
                    style="border-bottom:1px solid #00F1C9;">
                    2.500 BTC</span><br>55.22 USDT</a></li>

        <li><a href="#"><span style="color:#00FF00;">Profit / <span style="color: red;">
                        Loss</span></span><br><span style="border-bottom:1px solid #00F1C9;color:#00FF00;">
                    55.22 <span style="color:#FFF;">BTC</span></span><br><span
                    style="color:#00FF00;">562.256 <span style="color:#FFF;">USDT</span></span></a></li>
        </ul>

          
        <ul class="nav navbar-nav navbar-right text-center" style="padding: 17px 0px;">
             <li class="dropdown"><a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true"
                            href="#"><button>USD</button></a></li>
             <li><a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true"
                            href="assets.php"><button>FUND</button></a></li>
             <li><a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true"
                            href="#"><button>P2P</button></a></li>
            
          <li><a (click)="toggle()" class="hidden-sm hidden-xs"><span style="font-size:22px;cursor:pointer;color:white;" class="menu-button" id="menu-button"><i class="fa fa-bars" aria-hidden="true"></i></span></a></li>
            
        </ul>

      </div>
        
    </div>
  </nav>
  
    <br/><br/><br/><br/><br/><br/>
      <!-------- SIDE BAR CALLING  -------------------------------------------->
      <nav id="hide-menu" class="hide-menu" [ngClass]="hideMenu?'show-menu':'hide-menu'">
            <div id="mySidenav" class="sidenav"><br /><br />
                <!--            <a href="#" class="closebtn" >&times;</a>-->
                <div class="col-md-12">
                    <div class="row text-center">
                        <div class="imground">
                            <img src="assets/img/1.jpg" height="120" width="120" class="img-circle">
                        </div>
                    </div>
                    <div class="row text-center">
                        <h3>Robert Wadia</h3>
                    </div>
                    <div class="row text-center">
                        <p>robertxyz564@gmail.com</p>
                    </div>
                    <!-----------VERTICAL MENU ------------>
                    <div class="row">
                        <ul class="mainmenu">
                            <li><a href="exchange"><i class="fa fa-user" aria-hidden="true"></i>Exchange </a></li>
                            <li><a href="account"><i class="fa fa-user" aria-hidden="true"></i>Account <i
                                        class="fa fa-angle-down" aria-hidden="true" style=""></i></a>
                                <ul class="submenu">
                                    <li><a href="account">Security<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="account">Account Verifiaction<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="account">KYC<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="assets"><i class="fa fa-user" aria-hidden="true"></i>Funds <i class="fa fa-angle-down"
                                        aria-hidden="true" style=""></i></a>
                                <ul class="submenu">
                                    <li><a href="assets">Deposit<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="assets">Withdraw<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="assets">Transaction History<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </li>
                            <li><a href="reports"><i class="fa fa-user" aria-hidden="true"></i>Reports <i
                                        class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="submenu">
                                    <li><a href="reports">Open Orders<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="">My Trades<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li><a href="reports">Future Contract<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                    <li><a href="reports">Order History<i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a></li>
                                </ul>
                            </li>
                            <li><a href="support"><i class="fa fa-user" aria-hidden="true"></i>Support</a></li>
                            <li><a href=""><i class="fa fa-user" aria-hidden="true"></i>Log out</a></li>
                        </ul>
    
    
                    </div>
                </div>
            </div>
      </nav>
    
     <!-------------------------------Button ------------------------>
      <div class="container" >
          <div class="col-md-12" style="margin: 15px auto;" >
              <div class="row" ><br/>
              <div class="col-md-12 " style="border-bottom:1px solid  #00F0C8;padding-bottom: 30px;">
                  <div class="row text-center">
                      <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
                    <button class="supporttabbtn">Support Center</button>
                  </div>
                  </div>
              </div>
              </div>
              <div class="row text-center" style="color: white;">
                  <h4 style="padding: 20px 0px;">How can we help ?</h4>
              </div>
              <!------------- first support box ---->
              <div class="row"> 
                  <div class="col-md-12 support1box"  style="height:auto;">
                      <div class="row">
                          
                          <div class="col-md-3 text-center">
                              <h4 style="padding: 55px 0px;color: white;">Open a Help Desk Ticket</h4>
                          </div>
                          
                          <div class="col-md-3">
                             <div class="row">
                                 <form>
                              <div class="input-container">
                                  <input class="input-field" type="text" name="" value=""  placeholder="Subject">
                              </div><br/>
                                 <div class="input-container">
                                  <input class="input-field" type="text" name="" value=""  placeholder="Deposit">
                              </div>
                              </form>
                              </div>
                          </div>
                          
                          
                          <div class="col-md-3">
                              <div class="row" style="padding: 0px 10px;">
                                  <textarea name="text" placeholder="What can we help you with"></textarea>
                              </div>
                          </div>
                          
                          <div class="col-md-3 text-center" style="height: 150px; position: relative;">
                              <button class="supporttabbtn" style="position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);">Send Message
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
           </div>
         
          <!------------------- second box ---->
          <div class="col-md-12" style="margin: 0px;padding: 0px;margin: 15px auto 0px;">
              <div class="row">
                  <!--- first div ---->
                  <div class="col-md-4" style="padding: 0px 15px;">
                      <div class="row support2boxdiv">
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <img src="assets/img/corporate.png">
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <h4>Security</h4>
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <p style="">Tips and issues: how to create, protect and operate a COINCODE account</p>
                          </div>
                      </div><br/>
                  </div>
                  <!--- second div ---->
                  <div class="col-md-4" style="padding: 0px 15px;">
                    <div class="row support2boxdiv">
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <img src="assets/img/personal.png">
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <h4>Personal Account</h4>
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <p>Tips and issues: how to create a Personal Account operate a COINCODE account</p>
                          </div>
                      </div><br/>
                  </div>
                  <!--- third div ---->
                  <div class="col-md-4" style="padding: 0px 15px;">
                    <div class="row support2boxdiv">
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <img src="assets/img/corporate.png">
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <h4>Corporate Account</h4>
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                               <p>Tips and issues: how to create a Cersonal Account operate a COINCODE account</p>
                          </div>
                      </div><br/>
                  </div>
              </div>
          </div>
         
           <!------------------- third box ---->
          <div class="col-md-12" style="margin: 0px;padding: 0px;margin: 10px auto 0px;">
              <div class="row">
                  <!--- first div ---->
                  <div class="col-md-4" style="padding: 0px 15px;">
                      <div class="row support2boxdiv">
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <img src="assets/img/corporate.png">
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <h4>Deposits</h4>
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <p style="">Instruction and tips about how to initiate and track the status of your deposits</p>
                          </div>
                      </div><br/>
                  </div>
                  <!--- second div ---->
                  <div class="col-md-4" style="padding: 0px 15px;">
                    <div class="row support2boxdiv">
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <img src="assets/img/corporate.png">
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <h4>Withdrawl</h4>
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <p>All information about withdrawing funds from COINCODE could be accessed here. </p>
                          </div>
                      </div><br/>
                  </div>
                  <!--- third div ---->
                  <div class="col-md-4" style="padding: 0px 15px;">
                    <div class="row support2boxdiv">
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <img src="assets/img/corporate.png">
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                              <h4>Legacy & KYC</h4>
                          </div>
                          <div class="row text-center" style="margin: 0px;padding: 0px; ">
                               <p>question regarding legal all issues, account verification and GDPR</p>
                          </div>
                      </div><br/>
                  </div>
              </div>
          </div>
         
        </div>
          
  <br/><br/><br/>
  <app-footer></app-footer>

</div>