


<app-adminheader></app-adminheader>
<body class="hold-transition skin-blue sidebar-mini">

  <app-adminsidebar></app-adminsidebar>

  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) --><br/>
    <section class="content-header" style="background: #fff;margin: 8px 25px;">
      
        <h1>
        MY WALLET
        </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active"><a href="mywallet.html">My Wallet</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content tabheader" style="margin: 8px 11px;">
     <div class="col-md-12" style="background: #fff;padding-bottom: 30px; -webkit-box-shadow: 0 0 15px lightgrey;    box-shadow: 0 0 15px lightgrey;padding: 0PX 20PX 0PX 20PX;">
      <!---- nav pillst tab-->
         
         <div class="row text-center walletro" style="margin: 0px;padding: 0px;padding: 30px 0px;">
            <div class="col-md-4" style="margin: 0px;padding: 0px;border-radius: 4PX;">
                    <div class="col-md-4"  style="border:1px solid  #E6E6E6;margin: 0px;padding: 0px;border-radius: 4PX 0px 0px 4px;">
                        <label>USER NAME:-</label>
                    </div>
                    <div class="col-md-6"  style="border:1px solid  #E6E6E6;border-radius: 0px 4px 4px 0px;padding: 0px;">
                     <input type="text" placeholder="COINCODE ADMIN" style="" >
                    </div>
            </div>
            
            <div class="col-md-4" style="margin: 0px;padding: 0px;border-radius: 4PX;">
              <div class="col-md-1"></div>       
                    <div class="col-md-4"  style="border:1px solid  #E6E6E6;margin: 0px;padding: 0px;border-radius: 4PX 0px 0px 4px;">
                        <label>EMAIL ID:-</label>
                    </div>
                    <div class="col-md-6"  style="border:1px solid  #E6E6E6;border-radius: 0px 4px 4px 0px;padding: 0px;">
                     <input type="text" placeholder="admin@coincode.in" style="" >
                    </div>
            </div>
            
             <div class="col-md-4" style="margin: 0px;padding: 0px;border-radius: 4PX;">
                  <div class="col-md-2"></div>  
                   <div class="col-md-4"  style="border:1px solid  #E6E6E6;margin: 0px;padding: 0px;border-radius: 4PX 0px 0px 4px;">
                        <label>BALANCE (USD):-</label>
                    </div>
                    <div class="col-md-6"  style="border:1px solid  #E6E6E6;border-radius: 0px 4px 4px 0px;padding: 0px;">
                     <input type="text" placeholder="12569632.23" style="" >
                    </div>
                </div>
               
         </div>
        
        <!---- table data--> 
         <div class="row" style="margin: 0px;padding: 0px;">
                    <div class="row scrollbar11" id="style-11" style="margin: 0px;padding: 0px;">
                            <div class="force-overflow11">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>CURRENCY</th>
                                            <th>WALLET ADDRESS</th>
                                            <th>BALANCE</th>
                                            <th>BALANCE (USD)</th>
                                              </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           <td><img src="assets/100/bitcoin.png" height="25" width="25" >BTC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/dogecoin.png" height="25" width="25" >DOGE</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/ripple.png" height="25" width="25" >XRP</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/dash.png" height="25" width="25" >DASH</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/bitcoincash.png" height="25" width="25" >BCH</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/ethereum.png" height="25" width="25" >ETH</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/litecoin.png" height="25" width="25" >LTC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/bitcoin.png" height="25" width="25" >BTC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr> <tr>
                                           <td><img src="assets/100/ethereum%20classic.png" height="25" width="25" >ETC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                              <tr>
                                           <td><img src="assets/100/bitcoin.png" height="25" width="25" >BTC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/dogecoin.png" height="25" width="25" >DOGE</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/ripple.png" height="25" width="25" >XRP</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/dash.png" height="25" width="25" >DASH</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/bitcoincash.png" height="25" width="25" >BCH</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/ethereum.png" height="25" width="25" >ETH</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/litecoin.png" height="25" width="25" >LTC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                         <tr>
                                           <td><img src="assets/100/bitcoin.png" height="25" width="25" >BTC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr> <tr>
                                           <td><img src="assets/100/ethereum%20classic.png" height="25" width="25" >ETC</td>
                                            <td>DSD15454SDADA4654351545</td>
                                            <td>356988.3256</td>
                                            <td><span>$</span>586956.25</td>
                                         </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
            </div>     
         
         
        </div>    
    </section>
    </div>
      
  </body>