<app-navbar></app-navbar>
   <!---- ABount the COINCODE  --->
   <div class="container-fluid" style="margin: 0px;padding: 0px;"> 
      <div class="col-md-12  abooutimg" style="margin: 0px;padding: 0px;">
        <!----- IMAGES---->
        <img src="assets/img/Background3.jpg" class="hidden-xs hidden-sm"  height="650" width="1700" >
           <img src="assets/img/Background3.jpg" class="hidden-md hidden-lg"  >
         
          <div class="abouthead"><h2>About the COINCODE</h2></div>
      </div>     
</div>

          <!---- VIDEO ---->
<div class="container">
      <div class="row">
         <div class="col-md-6 col-xs-12 col-sm-6 col-md-offset-3" > 
             <div class="embed-responsive embed-responsive-16by9" style="border: 1px solid white;border-radius: 6px;margin-top:-380px;">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z9Ul9ccDOqE" allowfullscreen></iframe>
              </div>
          </div>
      </div>
</div> 

<!----- WHITE PART 2 ----> <br/><br/>
<div class="container aboutheaddiv"> 
   
    <!----- paragraph 1 ----> 
    <div class="row">
        <!---->
       <p>COICODE group will be providing best services of Trading, finance and will be dealing the crypto industry.</p>
        
        <p >Our vision is to become a leading solution provider for future trading and finance by pursuing latest trends in technology and quality driven approch COINCODE is establesh in india and are acquring 20 more Countries all over the World. We remain guided by our core values of trust. We focus on maximizing our presence with our values primarily and then with the added and cost affective. </p>
        
        <p>COINCODE futuretrading will be dealing in future market of crypto currency with a margin trading profits and benefits on the other land we will be offering finance to users, to buy crypto currency which will be reflected into there wallet.</p>
        
        
         <p>COINCODE is dealing in different industries since 15 years. we deal in real estate market trading in commodities and equity and also in software industry since then we have established our firm and are now looking forward in crypto industry too.</p>
        
        <p>A future showcase enables brokers to purchase and offer product and future contracts for conveyance on predefined future date without buying the hidden ware or monetary instrument. With the rise of digital currency, a few noteworthy Trading exchange including Chicago Board of Exchange and Chicago Mercantile Exchange have started propelling Bitcoin Futures. Similarly COINCODE will br dealing in Bitcoin Futures. </p>
        
          <p> One of these highlights is the future Trading. In future Trading, a dealer acknowledges an agreement which obliges him to offer or puchase a benefit/product/money relaed instrument on some future date and pre decided cost. On the off chance that an agreement was to purchase the advantage and the cost of the benefit on the chosen future date is higher when contrasted with pre-decided puchasing value, the merchant gets a benefit.  </p>
    </div><br/>
</div>
<br/><br/>

<!---------- SKY PART APP STORE ICON --->
<div class="container-fluid skyback">
  <div class="row text-center" style="margin: 0px;padding: 0px;">
      <h2>it's never too late get started.</h2>
      <h2>Buy, store and learn about Cryptocurrency.</h2>
   </div>
   <br/><div class="row" style="max-width:680px;margin: 0px auto;">
       <div class="col-md-4 text-center" style="margin:20px auto;">
           <a href="#" target="_blank"><img src="assets/img/icon12.png"></a>
       </div>
       <div class="col-md-4 text-center" style="margin:20px auto;">
           <a href="#" target="_blank"><img src="assets/img/icon12.png"></a>
       </div>
       <div class="col-md-4 text-center" style="margin:20px auto;">
           <a href="#" target="_blank"><img src="assets/img/icon13.png"></a>
       </div>
       
   </div>
   <br/>
</div>

<app-footer></app-footer> 