<nav class="navbar navbar-inverse navbar-fixed-top" style="">
  <div class="container-fluid" style="padding: 0px 40px;">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
      <a class="navbar-brand" href="index.html"><img src="assets/img/LOGOnew.png" height="60" width="200"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="">
      <ul class="nav navbar-nav">
        <li><a href="#">EXCHANGE</a></li>
        <li><a href="#">ICO SERVICES</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">APP</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="margin-top: -9px;" >

        <li class="dropdown">
            <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"><button><span id="selected">English</span><span class="caret"></span></button></a>
                <ul class="dropdown-menu">
                    <li><a href="#">USD</a></li>
                    <li><a href="#">ICO</a></li>
                    <li><a href="#">USD</a></li>
                </ul>
            </li>
          <li><a href="#" ><button><span class="glyphicon glyphicon-user"></span> Login / Register</button></a></li>

      </ul>
    </div>
  </div>

</nav>