<app-adminheader></app-adminheader>

<body class="hold-transition skin-blue sidebar-mini">

  <app-adminsidebar></app-adminsidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) --><br />
    <section class="content-header" style="background: #fff;margin: 8px 25px;">
    <h1>
        CONTACT US LISTING
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Contact Us Listing</li>
        <li><a href="move
            cont.html">move
            ed Contact</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content tabheader" style="margin: 8px 11px;">
      <div class="col-md-12"
        style="background: #fff;padding-bottom: 30px; -webkit-box-shadow: 0 0 15px lightgrey;    box-shadow: 0 0 15px lightgrey;">
        <!---- nav pillst tab-->

        <div class="row text-center" style="margin: 0px auto;padding: 30px 0px;">

          <label style="margin: 0px;padding: 0px;background: #E6E6E6;color: #000;
  padding: 8px 50px;border-radius: 25px;font-size: 18px;font-weight: 100;">REJECT
            CONTACT</label>

        </div>

        <!---- table data-->
        <div class="row" style="margin: 0px;padding: 0px;">
          <!---- Active table---->
          <div class="row scrollbar8" id="style-8" style="margin: 0px;padding: 0px;">
            <div class="force-overflow8">
              <table>
                <thead>
                  <tr>
                    <th>SR.NO</th>
                    <th>DATE & TIME</th>
                    <th>USER NAME</th>
                    <th>EMAIL ID</th>
                    <th>EMAIL BODY</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="" data-toggle="modal" data-target="#movemodal">MOVE</button>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>12/08/18 AM 11:56:04</td>
                    <td>JOHN DEVID</td>
                    <td>john.red@gmail.com</td>
                    <td>demo text</td>
                    <td><button class="btn btn1" STYLE="">MOVE</button></td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>



    </section>
  </div>


  <!----- MODAL CLOCK ON moveBTN ---->
  <div id="movemodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <div class="row text-center">
            <i class="fa fa-times-circle" aria-hidden="true" style=""></i>
          </div>

          <div class="row text-center" style="margin: 0px;padding: 0px;">
            <h4 style="">Are you Sure <br />You want to move
              this Record </h4>
          </div>

        </div>
        <div class="modal-footer">
          <h2>OK</h2>
        </div>
      </div>
    </div>
  </div>

  <!----- MODAL CLOCK ON moveBTN ---->
  <div id="moveconfirmmmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <div class="row text-center">
            <i class="fa fa-check-circle" aria-hidden="true" style=""></i>
          </div>

          <div class="row text-center" style="margin: 0px;padding: 0px;">
            <h3 style="color: #11A36A;">Successfully</h3>
          </div>

          <div class="row text-center" style="margin: 0px;padding: 0px;">
            <h4 style="padding: 0px;margin: 0px;padding: 0px 60px;">Contact Move</h4>
          </div>

        </div>
        <div class="modal-footer">
          <h2>OK</h2>
        </div>
      </div>
    </div>
  </div>





  <!----------- to hide modal --->
  <script>
    $('#movemodal h2').on('click', function () {
      $('#movemodal').modal('hide');
      $('#moveconfirmmmodal').modal('show');
    });
  </script>
</body>