<app-adminheader></app-adminheader>

<body class="hold-transition skin-blue sidebar-mini">

  <app-adminsidebar></app-adminsidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) --><br />
    <section class="content-header" style="background:#fff;margin: 8px 25px;">
      <h1>
        ALL TRANSACTION
      </h1>
      <!------search input box --->
      <div style="" class="inputdiv">
        <div class="input-container">
          <input class="input-field" type="text" placeholder="Search Crypto" name="">
          <i class="fa fa-search icon1"></i>
        </div>
      </div>

      <!----->
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="alltransaction.html">Transaction</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content tabheader" style="margin: 8px 0px;">
      <div class="col-md-12" style=" margin: 0px;padding: 0px;">
        <!---- nav pillst tab-->
        <div class="col-md-5 scrollbar  nav-tabs" id="style-1" style="margin: 0px;padding: 0px;border-bottom: none;">
          <div class="force-overflow" id="myDIV">

            <div class="row" style="margin-bottom: 49px;">
              <div class="col-md-4 text-center" style="">
                <div class="active div1">
                  <a href="#1" data-toggle="tab">
                    <img src="assets/img/100/bitcoin.png" height="70" width="70" />
                    <p>BITCOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4  text-center" style="">
                <div class="div1">
                  <a href="#2" data-toggle="tab">
                    <img src="assets/img/100/dogecoin.png" height="70" width="70" />
                    <p>DOGECOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4  text-center" style="">
                <div class="div1">
                  <a href="#3" data-toggle="tab">
                    <img src="assets/img/100/bitcoincash.png" height="70" width="70" />
                    <p>BITCOIN CASH</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="row" style="margin-bottom: 49px;">
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#4" data-toggle="tab">
                    <img src="assets/img/100/ethereum.png" height="70" width="70" />
                    <p>ETHEREUM</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#5" data-toggle="tab">
                    <img src="assets/img/100/Bytom.png" height="70" width="70" />
                    <p>BYTOM</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#6" data-toggle="tab">
                    <img src="assets/img/100/litecoin.png" height="70" width="70" />
                    <p>LITECOIN</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="row" style="margin-bottom: 49px;">
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#7" data-toggle="tab">
                    <img src="assets/img/100/ripple.png" height="70" width="70" />
                    <p>RIPPLE</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#8" data-toggle="tab">
                    <img src="assets/img/100/syscoin.png" height="70" width="70" />
                    <p>SYSCOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#9" data-toggle="tab">
                    <img src="assets/img/100/bitcoincash.png" height="70" width="70" />
                    <p>BITCOIN CASH</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="row" style="margin-bottom: 49px;">
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#10" data-toggle="tab">
                    <img src="assets/img/100/bitcoin.png" height="70" width="70" />
                    <p>BITCOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#11" data-toggle="tab">
                    <img src="assets/img/100/dogecoin.png" height="70" width="70" />
                    <p>DOGECOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#12" data-toggle="tab">
                    <img src="assets/img/100/bitcoincash.png" height="70" width="70" />
                    <p>BITCOIN CASH</p>
                  </a>
                </div>
              </div>

            </div>



            <div class="row" style="margin-bottom: 49px;">
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#13" data-toggle="tab">
                    <img src="assets/img/100/bitcoin.png" height="70" width="70" />
                    <p>BITCOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#14" data-toggle="tab">
                    <img src="assets/img/100/dogecoin.png" height="70" width="70" />
                    <p>DOGECOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#15" data-toggle="tab">
                    <img src="assets/img/100/bitcoincash.png" height="70" width="70" />
                    <p>BITCOIN CASH</p>
                  </a>
                </div>
              </div>

            </div>



            <div class="row" style="">
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#16" data-toggle="tab">
                    <img src="assets/img/100/bitcoin.png" height="70" width="70" />
                    <p>BITCOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#17" data-toggle="tab">
                    <img src="assets/img/100/dogecoin.png" height="70" width="70" />
                    <p>DOGECOIN</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4 text-center" style="">
                <div class="div1">
                  <a href="#18" data-toggle="tab">
                    <img src="assets/img/100/bitcoincash.png" height="70" width="70" />
                    <p>BITCOIN CASH</p>
                  </a>
                </div>
              </div>

            </div>

          </div>
        </div>

        <!---- table data-->

        <div class="col-md-7" style="margin: 0px;padding: 0px;padding:0px 10px;">

          <div class="row scrollbardata">

            <div class="tab-content" id="tabs">

              <div class="tab-pane active" id="1">
                <!------lABEL--->
                <div class="row text-center scrollbardatarow1" style="">
                  <label style="">BITCOIN (BTC) STATISTICS</label>
                </div>
                <!------- DATA LABEL row----->
                <div class="row scrollbardatarow2" style="">

                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Pending Buy BTC</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style=" background-image: linear-gradient(to right, #E47967,#6C415C);">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Pending Sell BTC</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>

                </div>

                <!------- DATA LABEL----->
                <div class="row scrollbardatarow2" style="">

                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #2CBDC8,#234E6E  );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Total Pending BTC</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right,  #8074FC ,#5D3F91 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Approve Buy BTC</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>

                </div>

                <!------- DATA LABEL----->
                <div class="row scrollbardatarow2" style="">

                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Approve Sell BTC</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Approve Sell BTC</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane" id="2">

                <!------lABEL--->
                <div class="row text-center scrollbardatarow1" style="">
                  <label style="">DOGECOIN (DOGE) STATISTICS</label>
                </div>
                <!------- DATA LABEL row----->
                <div class="row scrollbardatarow2" style="">

                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Pending Buy DOGE</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style=" background-image: linear-gradient(to right, #E47967,#6C415C);">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Pending Sell DOGE</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>

                </div>

                <!------- DATA LABEL----->
                <div class="row scrollbardatarow2" style="">

                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #2CBDC8,#234E6E  );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Total Pending DOGE</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right,  #8074FC ,#5D3F91 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Approve Buy DOGE</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>

                </div>

                <!------- DATA LABEL----->
                <div class="row scrollbardatarow2" style="">

                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Approve Sell DOGE</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-6 col-xs-12">
                    <div class="small-box" style="background-image: linear-gradient(to right, #FEB507,#5B5C34 );">
                      <div class="inner" style="color: #fff;">
                        <h3>25</h3>

                        <p style="font-weight: 100;">Approve Sell DOGE</p>
                      </div>
                      <div class="icon">
                        <img src="assets/icon/1.png">
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane" id="3">...Content...</div>
              <div class="tab-pane" id="4">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="5">...Content...</div>
              <div class="tab-pane" id="6">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="7">...Content...</div>
              <div class="tab-pane" id="8">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="9">...Content...</div>
              <div class="tab-pane" id="10">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="11">...Content...</div>
              <div class="tab-pane" id="12">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="13">...Content...</div>
              <div class="tab-pane" id="14">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="15">...Content...</div>
              <div class="tab-pane" id="16">saaaaaaaaaaaaaaaaa...Content...</div>
              <div class="tab-pane" id="17">...Content...</div>
              <div class="tab-pane" id="18">saaaaaaaaaaaaaaaaa...Content...</div>

            </div>

          </div>
        </div>
      </div>



    </section>


  </div>

</body>