


<app-adminheader></app-adminheader>
<body class="hold-transition skin-blue sidebar-mini">

<app-adminsidebar></app-adminsidebar>

<div class="content-wrapper">
  <!-- Content Header (Page header) --><br />
  <section class="content-header" style="background: #fff;margin: 8px 25px;">

    <h1>
      Manage Users
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Manage Users</li>
    </ol>
  </section>


  <section class="content tabheader" style="margin: 8px 11px;">
    <div class="col-md-12"
      style="background: #fff;padding-bottom: 30px; -webkit-box-shadow: 0 0 15px lightgrey;    box-shadow: 0 0 15px lightgrey;padding: 0PX 20PX 0PX 20PX;">

      <div class="jumbotron page" id="page1">
        <div class="row" style="margin: 0px;padding: 0px;">
          <div class="row scrollbar12" style="margin: 0px;padding: 0px;">
            <table>
              <thead>
                <tr>
                  <th>DATE & TIME</th>
                  <th>USER NAME</th>
                  <th>EMAIL ID</th>
                  <th>REGISTER FROM</th>
                  <th>WALLET<br /> ADDRESS DETAIL</th>
                  <th>USER PROFILE</th>
                  <th>KYC</th>
                  <th>BLOCK USER</th>
                </tr>
              </thead>
              <tbody>


                <tr>
                  <td style="text-align:center;">1</td>
                  <td>sssss</td>
                  <td>s@gmail.com</td>
                  <td>ffffff</td>
                  <td><button class="btn btn3" style="background: #7665DC;color: #fff;" onclick="">DETAIL</button></td>
                  <td><button class="btn btn3" style="background: #F7B20B;color: #fff;">VIEW</button></td>
                  <td><button class="btn btn2" style="background: #11A36A;color: #fff;">VERIFY</button></td>
                  <td><button class="btn btn3" style="background: #FA9171;color: #fff;">BLOCK</button></td>

                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>


      <div class="row text-center" style="">
        <ul id="pagination-demo" class="pagination-lg"></ul>
      </div>

    </div>
  </section>

</div>

</body>