
<app-navbar></app-navbar>
<!--------------------- PART 1---- ---img started----->
<div class="container-fluid ">
    <!--- IMAGE BACKGROUND--->
        <div class="row ">
        <img src="assets/img/Background.jpg" class="img-responsive hidden-xs hidden-sm" style="width:100%;height: 815px;">
           
        <img src="assets/img/Background.jpg" class="img-responsive hidden-md hidden-lg" style="width:100%;min-height:350px;">
        </div>
        <!--- HEADING ON IMG --->
        <div class="row text-center" >
        <div class="topdivindex w3-animate-zoom" >
        <h1 class="effect-shine "><b>NOW BUY AND SELL DIGITAL ASSETS</b></h1>
        
        <h3 > The Fastest Growing Crypto Exchange</h3>
          <!---- HEAD BTN --->  
        <div class="col-md-12" >
            <div class="row" style="max-width:400px;margin: 20px auto;">
                <div class="col-md-6"><button class="buttonleft">EXHCANGE</button></div>
                <div class="col-md-6"><button class="buttonright">START TRADING</button></div>
            </div>
        </div>
     </div>
    </div>
</div>
<!----------------------part 2------------------------>   

<!--part slisder------>
<div class="autoplay divadjustMAINDIV">
         <div class="text-center" >
                        <h4>CCD/BTC <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                   <div class="text-center" style="border-left:1px solid  #030615; ;">
                        <h4>CCD/ETH <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                <div class=" text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/BCH <span>-10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
               <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/DOGE <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                
                <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/USDT <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/LTC <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/ETC <span>-10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
            <div class="text-center" >
                        <h4>CCD/BTC <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                   <div class="text-center" style="border-left:1px solid #030615 ;">
                        <h4>CCD/ETH <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                <div class=" text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/BCH <span>-10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
               <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/DOGE <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                
                <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/USDT <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/LTC <span>+10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
                <div class="text-center" style="border-left:1px solid #030615;">
                        <h4>CCD/ETC <span>-10.30%</span></h4>
                        <p>0.00251585 BTC</p>
                        <p>VOLUME:<span>24.66M</span> CCD</p>
                    </div>
  </div>

<!-------------------- PART 3 stay connected ------------------------------>          
<div class="container-fluid stayconnpart"  >
    <div class="row text-center">
        <!---HEAD-->
        <h1 style="font-size:100px;color:#0F2138;"><b>STAY CONNECTED</b></h1>
        <div class="row" style="background-position: center;">
            <img src="assets/img/shadow.png" style="margin-top: -150px;height: 220px;margin-left:-300px;">
            <img src="assets/img/shadow.png" style=" opacity: 0.8; margin-left:70px;margin-top:-350px;height: 200px;">
             <img src="assets/img/shadow.png" style=" margin-left:-200px;margin-top:150px;">
            <img src="assets/img/shadow.png" style="margin-top: 300px;height: 150px;margin-left:-400px;">
            
        </div>
        <!---main paret--->
        <div class="container stayconnectcontainer">
                <!--- head-->
            <div class="row text-center">
                <h1 class="effect-shine"><b>STAY CONNECTED</b></h1>
            </div>
                <!--- main part--->
            <br/><br/><br/><br/><br/><br/>
            <div clsass="row" style="margin: 0px;padding: 0px;">
                <div class="col-md-4 logoicon">
                    <div class="row">
                        <div class="row" style="padding: 10px 0px;">
                            <div class="col-md-5 ">
                                <img src="assets/img/icon1.png" >
                            </div>
                            <div class="col-md-7 text-left " style="padding: 35px 5px;">
                                <h4>Highly Fluid Future Market</h4>
                            </div>
                        </div>
                        <div class="row " style="padding: 10px 0px;">
                            <div class="col-md-5">
                                <img src="assets/img/icon2.png">
                            </div>
                            <div class="col-md-7 text-left" style="padding: 21px 5px;">
                                <h4>Availability for Every Singal Cryptocurrency for Trading.</h4>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px 0px;">
                            <div class="col-md-5">
                                <img src="assets/img/icon3.png">
                            </div>
                            <div class="col-md-7 text-left" style="padding: 30px 5px;">
                                <h4>Reduce Trading Fees</h4>
                            </div>
                        </div>
                        <div class="row " style="padding: 10px 0px;">
                            <div class="col-md-5">
                                <img src="assets/img/icon4.png">
                            </div>
                            <div class="col-md-7 text-left" style="padding: 30px 5px;">
                                <h4>Blockchain Driven</h4>
                            </div>
                        </div>
                     </div>
                </div>
    
                <div class="col-md-4 logoiconimg text-center rotate ">   
                    <img src="assets/img/lapimob.png " height="500">       
                    
                    
                </div>
                
                
                
                <div class="col-md-4 logoiconimgsmall" style="margin: 0px;padding: 0px;">
                    <div class="row text-left" style="margin: 0px;padding: 0px;">
                        <h3>Why <b>COINCODE</b> Exchange?</h3>
                    </div>
                    <div class="row text-left" style="margin: 0px;padding: 0px;" >
                    <p>CCD is cutting edge future trade which is focused on getting the future exchanging. CCD is anticipating building a safe, autonomous, decentralized, vote based, and straightforward future trade stage where merchants can apperciate fast, chance free, and simple exchanging while at the same time making the most of their full benefits without offering it to any specialist co-op. CCD took a few activities and bult up an inventive system to accomplish these objectives and here is a look and what will we do. </p>
                    </div>
                    <div class="row">
                        <h3 style="color: #00F0C8;">We Are Available On </h3>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="assets/img/gplay3.png">
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img src="assets/img/iosstore3.png">
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>
         <br/><br/> 
    </div>       
</div>
 
<!---------------------- FEATURE PART  ------------------------------>
<div class="container-fluid futurepart ">
            <!----head feature-->
            <div class="row text-center h1headalldiv" >
                <h1 style="font-size: 130px;color: #002038;"><b>FEATURES</b></h1>
            </div>
            <div class="row text-center futurepartdiv" style="margin-top:-120px;">
                <h1 class="effect-shine"><b>FEATURE TRADING CRYPTO CURRENCY PLATFORM </b></h1>
            </div>
            <!---- ICON PART --->
            <div class="row" style="max-width:1500px;margin:15px auto;">
            <div class="col-md-4" >
                <div class="row text-center futurepartimgdiv " >
                    <img src="assets/img/icon5.png"  >
                </div> 
                <!---- PARA-->
                <div class="row text-center" style="padding: 0px 30px;">
                    <h3 >FUTURE EXCHNGE</h3>
                    <p>The Coincode Future Exchange is an exchanging domain for the trust less purchasing and offering of computerised money future contract with zero exchange expenses. The trade does not hold any customer stores, consolidating the trust less security of decentralized record adjust with the speed and dependibility of a centralized request book and coordinating motor, except the trade of future contract.  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row text-center futurepartimgdiv ">
                    <img src="assets/img/icon6.png">
                </div>
                <!---- PARA-->
                <div class="row text-center" style="padding: 0px 30px;">
                    <h3 >BLOCKCHAIN FOR FUTURE TRADING</h3>
                    <p>Blockchain innovation is upsetting relatively every feature of human life. This innovation is behind the decentralized digital forms of money and the prevalence of these monetary standards drew out of the capability of Blockchain innovation. Blockchain is essentially an online record which records exchang sequentially and once an exchange is recorded it can't be changed, which makes it extremely secure and trusted.   </p>
                </div>
            </div>
            <div class="col-md-4">
            <div class="row text-center futurepartimgdiv">
                    <img src="assets/img/icon7.png">
                </div> 
              <!---- PARA-->
                <div class="row text-center" style="padding: 0px 30px;">
                    <h3 >MARGIN TRADING</h3>
                    <p>At COINCODE when the user trends to buy crypto using Coincode Token. he will be not charged any fees for it. CCD's progressive token issuance show makes sans commission exchanging completely economical uncertainly, and it really flourishes as the trade gets busier, guaranteeing the long haul achivement of the CCD Future Exchange. Terms and Condition apply.  </p>
                </div>
              
            </div>
            </div>
            
 <!----------  advance future seocnd  part ---------------><br/>
            <div class="row futurepartdivadvance">
                <!---- LEFT SIDE -->
                <div class="col-md-5 col-xs-12 col-sm-5" style="padding: 65px 0px;">
                    <div class="row">
                        <h3>   Advanced</h3>
                        <h2>Future Contract</h2>
                        <p><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;Value Linit will Cut into Trading Profit</p>
                        <p><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;Bitcoin Futures Could Pose a Systemic Risk at the Exchange</p>
                        <p><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;Bitcoin Exchanges Are Unstable</p>
                        <p><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;The Timing Of Bitcoin Futures May Increase Volatility</p>
                    </div>
                    
                </div>
                <!--- RIGHT SIDE-->
                <div class="col-md-7 col-xs-12 col-sm-7" style="">
                    <div class="row"> 
                           <img src="assets/img/lapimob.png" class=" moving-left img-responsive " 
                            style="max-width:24%;position: absolute; right: -4%;bottom: 5%;"/>
                        <img src="assets/img/lapi.png" class=" img-responsive w3-animate-zoom  " />
<!--
                        <div class="wrapper">
                          <img class="big-img img-responsive" src="img/lapi.png" />
                          <img class="small-img img-responsive" src="img/lapimob.png" />
                        </div>
-->
<!--
                        <img src="img/lapi.png" class="futurepartdivadvancetab"  height="400" style="position: relative;">
                        <img src="img/lapimob.png" class=" futurepartdivadvancemob" style="position: absolute;right:-35px;bottom: 10px;height:300px; ">
-->                    
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>
<!-----------FEW  MINUTS PART ---------------------->
<div class="container-fluid fewminutes">
            
            <div class="row text-center">
            <h1 class="effect-shine"><b>Get started in a few minutes</b></h1>
            </div>
            
            <!---- icon part --->
            <div class="row " style="max-width:1200px;margin:0px auto;">
                <div class="col-md-4 col-xs-12 col-sm-4 grow " style="padding:0px 15px;">
                    <div class="row fewminutesdiv ">
                        <div class="row text-center " style="margin: 0px;padding: 0px;">
                            <img src="assets/img/icon8.png" style="">
                        </div>
                        <div class="row text-center" style="margin: 0px;padding: 0px;padding-top: 20px;">
                            <h3>SIGN UP</h3>
                            <p>Enter and confirm your email address to sign up</p>
                        </div>
                    </div><br/>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4 grow" style="padding:0px 15px;">
                     <div class="row fewminutesdiv">
                        <div class="row text-center" style="margin: 0px;padding: 0px;">
                            <img src="assets/img/icon9.png">
                        </div>
                        <div class="row text-center" style="margin: 0px;padding: 0px;padding-top: 20px;">
                            <h3>DEPOSIT FUND</h3>
                            <p>Easily get verified through our verifiaction partners.</p>
                        </div>
                    </div>
                <br/></div>
                <div class="col-md-4 col-xs-12 col-sm-4 grow" style="padding:0px 15px;">
                     <div class="row fewminutesdiv">
                        <div class="row text-center" style="margin: 0px;padding: 0px;">
                            <img src="assets/img/icon10.png">
                        </div>
                        <div class="row text-center" style="margin: 0px;padding: 0px;padding-top: 20px;">
                            <h3>START TRADING</h3>
                            <p>Start buying and selling cryptocurrency.</p>
                        </div>
                    </div><br/>
                </div>
            </div>
            <br/><br/><br/>
            
        </div>
       
<!---------------------TABLE PART -------------------------->
<div class="container-fluid tablepart" >
         
            <div class="container">
                <div class="row">
                    <!--- NAV PILLS -->
                <ul class="nav nav-tabs">
                    <li class="active col-xs-12 col-sm-4" style="margin: 0px;padding: 0px;"><a data-toggle="tab" href="#ccd">CCD</a></li>
                    <li class="col-xs-12 col-sm-4" style="margin: 0px;padding: 0px;"><a data-toggle="tab" href="#btc">BTC</a></li>
                    <li class="col-xs-12 col-sm-4" style="margin: 0px;padding: 0px;"><a data-toggle="tab" href="#eth">ETH</a></li>
                    <li class="col-xs-12 col-sm-3" style="margin: 0px;padding: 0px;"><a data-toggle="tab" href="#usd">USDT</a></li>
                    <li class="col-xs-12 col-sm-3" style="margin: 0px;padding: 0px;"><a data-toggle="tab" href="#ico">ICO</a></li>
                    <li class="col-xs-12 col-sm-6" style="margin: 0px;padding: 0px;min-width:38.75%;">
                        <div class="input-container">
                             <input class="input-field" type="text" placeholder="Cryptocurrency Search" name="">
                            <i class="fa fa-search icon"></i>
                          </div>
<!--
                         <div class="input-container">
                          <input class="input-field" type="text" placeholder="Cryptocurrency Search" name="">
                              <i class="fa fa-search icon"></i>
                          </div>
-->

                        </li>
                  </ul>
                </div>

                
                <!--- table data --->
              
                <div class="row scrollbar5" id="style-5" style="padding:0px 8px;" >
                <div class="force-overflow5">
                    <div class="tab-content">
                    <!--- CCD ---->
                  <div id="ccd" class="tab-pane fade in active">
                   <table class="table table-condensed table-responsive "  >
                    <thead>
                      <tr>
                        <th>MARKET</th>
                        <th>LAST PRICE</th>
                        <th>24H CHANGE</th>
                        <th>24H HIGH</th>
                        <th>24H LOW</th>
                        <th>24H VOL</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td><span class="span1">BTC</span> / <span class="span2" >CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETH</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BCH</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">XRP</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DASH</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DOGE</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETC</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ACT</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BTC</span> / <span class="span2">CCD</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                    </tbody>
                  </table>
                 </div>
                    <!---- BTC--->
                  <div id="btc" class="tab-pane fade">
                    <table class="table table-condensed table-responsive " >
                    <thead>
                      <tr>
                        <th>MARKET</th>
                        <th>LAST PRICE</th>
                        <th>24H CHNGE</th>
                        <th>24H HIGH</th>
                        <th>24H LOW</th>
                        <th>24H VOL</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td><span class="span1">BTC</span> / <span class="span2" >BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETH</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BCH</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">XRP</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DASH</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DOGE</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETC</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ACT</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BTC</span> / <span class="span2">BTC</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                    </tbody>
                  </table>
                 
                </div>
                    <!---- ETH --->
                  <div id="eth" class="tab-pane fade">
                    <table class="table table-condensed table-responsive " >
                    <thead>
                      <tr>
                        <th>MARKET</th>
                        <th>LAST PRICE</th>
                        <th>24H CHNGE</th>
                        <th>24H HIGH</th>
                        <th>24H LOW</th>
                        <th>24H VOL</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td><span class="span1">BTC</span> / <span class="span2" >ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETH</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BCH</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">XRP</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DASH</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DOGE</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETC</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ACT</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BTC</span> / <span class="span2">ETH</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                    </tbody>
                  </table>
                 
                </div>
                    <!---- USDT --->
                  <div id="usd" class="tab-pane fade">
                    <table class="table table-condensed table-responsive " >
                    <thead>
                      <tr>
                        <th>MARKET</th>
                        <th>LAST PRICE</th>
                        <th>24H CHNGE</th>
                        <th>24H HIGH</th>
                        <th>24H LOW</th>
                        <th>24H VOL</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td><span class="span1">BTC</span> / <span class="span2" >USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETH</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BCH</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">XRP</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DASH</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DOGE</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETC</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ACT</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BTC</span> / <span class="span2">USDT</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                    </tbody>
                  </table>
                 
                </div>
                    <!---- ICO --->
                  <div id="ico" class="tab-pane fade">
                    <table class="table table-condensed table-responsive " >
                    <thead>
                      <tr>
                        <th>MARKET</th>
                        <th>LAST PRICE</th>
                        <th>24H CHNGE</th>
                        <th>24H HIGH</th>
                        <th>24H LOW</th>
                        <th>24H VOL</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td><span class="span1">BTC</span> / <span class="span2" >ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETH</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BCH</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">XRP</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DASH</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">DOGE</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>-21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ETC</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">ACT</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                        <tr>
                           <td><span class="span1">BTC</span> / <span class="span2">ICO</span></td>
                           <td>0.000562500</td>
                           <td>+21.12%</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                           <td>0.000562500</td>
                        </tr>
                    </tbody>
                  </table>
                 
                </div>
                </div> 
                </div>
            </div>
        </div>
        </div>
<!------------------table data last part ------------------------------>
<div class="contianer-fluid tabledatalast">
            <div class="container">
            <div class="row text-center" >
                <div class="col-md-4 col-xs-12 col-sm-4 grow">
                    <h3>$422,444,892</h3>
                    <p><b>24 HOUR VOLUME</b></p>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4 grow">
                <h3>$3,422,444,892</h3>
                    <p><b>7 HOUR VOLUME</b></p>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4 grow">
                <h3>$13,422,444,892</h3>
                    <p><b>30 HOUR VOLUME</b></p>
                </div>
                </div>
            </div>
        </div>
        
<!---------------- ----- MEDIA LOGO PART---------------- ----->
<div class="container-fluid text-center mediapart" style="">
    <div class="container">
        <div class="row">
                <h1 style="font-size: 130px;color:#002C4D;" ><b>MEDIA</b></h1>
            </div>
            <div class="row" style="margin-top:-120px;">
                <h1 style="color:white;" class="effect-shine"><b>MEDIA</b></h1>
            </div>
            <br/><br/>
            <div class="row shrink">
                <div class="col-md-2 ">
                       <img src="assets/img/01.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/02.png" class="img-responsive"  height="70" width="130" >
                </div>
                <div class="col-md-2">
                       <img src="assets/img/03.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/04.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/05.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/06.png" class="img-responsive"  height="70" width="130">
                </div>
            </div>
        
        <br/>
            <div class="row  shrink">
                <div class="col-md-2">
                       <img src="assets/img/07.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/08.png" class="img-responsive"  height="70" width="130" >
                </div>
                <div class="col-md-2">
                       <img src="assets/img/09.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/10.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/11.png" class="img-responsive"  height="70" width="130">
                </div>
                <div class="col-md-2">
                       <img src="assets/img/12.png" class="img-responsive"  height="70" width="130">
                </div>
            </div>
        <br/><br/><br/>
        
        
        </div>
    </div>
      
     
              
                  <!-- Return to Top scroll btn -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>


<!---------- SKY PART APP STORE ICON --->
<div class="container-fluid skyback">
        <div class="row text-center" style="margin: 0px;padding: 0px;">
            <h2>it's never too late get started.</h2>
            <h2>Buy, store and learn about Cryptocurrency.</h2>
         </div>
         <br/><div class="row" style="max-width:680px;margin: 0px auto;">
             <div class="col-md-4 text-center" style="margin:20px auto;">
                 <a href="#" target="_blank"> <img src="assets/img/icon11.png"></a>
             </div>
             <div class="col-md-4 text-center" style="margin:20px auto;">
                 <a href="#" target="_blank"><img src="assets/img/icon12.png"></a>
             </div>
             <div class="col-md-4 text-center" style="margin:20px auto;">
                 <a href="#" target="_blank"><img src="assets/img/icon13.png"></a>
             </div>
             
         </div>
         <br/>
    </div>
  
<!----  FOOTER ----->

<app-footer></app-footer>


<script>
    $(document).ready(function(){
     $('span:contains("+")').css('color', '#06FD02');
     $('span:contains("-")').css('color', 'red'); 
        
     $('td:contains("+")').css('color', '#06FD02');
     $('td:contains("-")').css('color', 'red'); 
    });
</script>
<!-------------------------SELECT LIST FOR  --------------------------->
<script>
var x, i, j, selElmnt, a, b, c;

x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];

    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);

    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {

        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {

            var y, i, k, s, h;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            h = this.parentNode.previousSibling;
            for (i = 0; i < s.length; i++) {
                if (s.options[i].innerHTML == this.innerHTML) {
                    s.selectedIndex = i;
                    h.innerHTML = this.innerHTML;
                    y = this.parentNode.getElementsByClassName("same-as-selected");
                    for (k = 0; k < y.length; k++) {
                        y[k].removeAttribute("class");
                    }
                    this.setAttribute("class", "same-as-selected");
                    break;
                }
            }
            h.click();
        });
        b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {

        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
    });
}

function closeAllSelect(elmnt) {

    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
        if (elmnt == y[i]) {
            arrNo.push(i)
        } else {
            y[i].classList.remove("select-arrow-active");
        }
    }
    for (i = 0; i < x.length; i++) {
        if (arrNo.indexOf(i)) {
            x[i].classList.add("select-hide");
        }
    }
}
document.addEventListener("click", closeAllSelect);
</script>
<!--------------------------- img anition stop ------------------->
<script>
$(document).ready(function(){
         /**** FUTURE EFFECT ENTER LEAVE EFFETC ***/
   $(".futurepartimgdiv img").mouseenter(function(){
       $(this).addClass("w3-spin");
   });
    $(".futurepartimgdiv img").mouseleave(function(){
       $(this).removeClass("w3-spin");
   });
    $(".imagemob").mouseenter(function(){
       $(this).addClass("w3-spin");
    });
    $(".imagemob").mouseleave(function(){
       $(this).removeClass("w3-spin");
    });
    
    
   /**** SCROLL TO TOP BTN ***/ 
    $(window).scroll(function(){ 
if ($(this).scrollTop() > 100) { 
    $('#scroll').fadeIn(); 
} else { 
    $('#scroll').fadeOut(); 
} 
}); 
$('#scroll').click(function(){ 
$("html, body").animate({ scrollTop: 0 }, 600); 
return false; 
});
});
</script>
<!-----  scrooo to top btn ---->
<script>
 
          
          </script>

       

<!----------------------------- FOOTER -------------------------------------------->
