<!-- <app-adminheader></app-adminheader> -->

<div class="hold-transition skin-blue sidebar-mini" style="background: #06888D;">

  <!-- <app-adminsidebar></app-adminsidebar> -->
  <div>

    <div id="outer" style="margin-top: 400px;">
      <div id="container" class="registerdiv">
        <!----headr-->
        <div class="row text-center"
          style="margin: 0px;padding: 0px;background: #0B1C31;color: #fff;border-radius: 15px 15px 0px 0px;">
          <h2 style="margin-top: 0px;margin-bottom: 0px;padding: 20px;">SIGN UP</h2>
        </div>

        <!------>
        <div class="row" style="margin: 0px;padding: 0px;">
          <div class="col-md-5"><br />
            <div class="row text-center">
              <img src="assets/img/logo1.png" height="180">
            </div>
          </div>
          <div class="col-md-7">
            <!----form-->
            <form class="" action="" style="padding:30px 10px;">

              <div class="input-container">
                <input class="input-field" type="text" placeholder="EMAIL ID" name="email">
                <img src="assets/img/1.png" height="28" width="25" class="icon" style="">
              </div>


              <div class="input-container">
                <input class="input-field" type="password" placeholder="PASSWORD" name="PASS">
                <img src="assets/img/3.png" height="28" width="28" class="icon">
              </div>

              <!---BUTOON--->
              <div class="row text-center" style="margin: 0px;padding: 0px;">
                <button style="width: 70%;;" value="submit">SIGN IN</button>

              </div>
              <br>
              <div class="row text-center">
                  <label>IF NEW to MEMBER ?</label>
                  <a href="adminsignup">SIGN UP</a>
              </div>
            </form>


          </div>
        </div>


      </div>
    </div>

  </div>

</div>